<div class="container">
  <div class="row">
    <div class="col-12 form-inline justify-content-end">

      <div class="form-group">
        <label class="mr-2"> выберите категорию:</label>
        <select class="form-control" [(ngModel)]="selectedCategory" (change)="changeCategory($event.target.id)">
          <option *ngFor="let category of categoryDictionary" [ngValue]="category"> {{category.title}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="news-catalog">


    <ng-template ngFor let-news [ngForOf]="newsCollection" let-i="index">
      <div class="news">
        <div class="news-category">
          {{news.categoryName}}
        </div>

        <div class="news-image" *ngIf="i==0"  >
           <p> News image </p>
          </div>

        <div class="news-header p-4 font-weight-bold" > <a [routerLink]="[news.id]"> {{news.header}}</a> </div>
      </div>
  </ng-template>


</div>

  <app-paging >

  </app-paging>
</div>




