{{news.category}}


  <form #form="ngForm" (ngSubmit)="saveNews(form)">
    <div class="form-group">
      <label>
        Категория
        <input type="text" [(ngModel)]="news.category" class="form-control" name="category" />
      </label>
    </div>
    <div class="form-group">
      <label>
        Загаловок
        <input type="text" [(ngModel)]="news.header" class="form-control" name="content" />
      </label>
    </div>
    <div class="form-group">
      <label>
        Содержимое
        <input type="text" [(ngModel)]="news.content" class="form-control" name="content" />
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
